<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flipped.flipped">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMARA"/>

    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity
            android:name=".barra"
            android:label="@string/title_activity_barra"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".profile" />
        <activity android:name=".search" />
        <activity android:name=".calendar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".favorito" />
        <activity android:name=".settings" />
        <activity android:name=".conactenos" />
        <activity android:name=".pagar" />
        <activity android:name=".Call" />
        <activity android:name=".detallemaestro" />
        <activity android:name=".paypal" />
        <activity android:name=".PaymentDetails" />
        <activity android:name=".logcorreo" />
        <activity android:name=".googlepay" />
        <activity android:name=".tutorial1" />
        <activity android:name=".formaperfil" />
    </application>

</manifest>